@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-player {
    @apply border-2 border-lightYellow;
    /* border: 2px solid #f6e35a; */
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        border-color: #f6e35a;
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
    }
    50% {
        border-color: #f8c031;
        box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
    }
    100% {
        border-color: #f6e35a;
        box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
    }
}

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*html {*/
/*    font-family: 'Roboto Slab', sans-serif;*/
/*    line-height: 1.5;*/

/*    color: #ebe7ef;*/

/*    font-synthesis: none;*/
/*    text-rendering: optimizeLegibility;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    -webkit-text-size-adjust: 100%;*/
/*}*/

/* body {
   background: radial-gradient(
           circle at top,
           rgba(241, 210, 70, 0.98),
           rgba(250, 176, 103, 0.87)
   ),
   url('bg-pattern-dark.png');
   background-repeat: repeat;
   background-size: 100% 100%, 30% 30%;
   min-height: 100vh;
} */


